@import "@primer/css/utilities/index.scss";

.plus-button {
  font-size: 18px;
  border-radius: 15px;
}

.comment_block {
  border: 1px solid #000;
  padding: 2px;
  border-radius: 5px;
}

.comment_block p {
  font-size: 10px;
}

.gen-summary-btn {
  display: flex;
  justify-content: flex-end;
}

.tooltipped {
  width: fit-content;
  cursor: pointer;
}

.textarea-vertical-resize-only {
  resize: vertical;
}

.summary-container {
  position: relative;
}

.user-summary-container {
  position: sticky;
}

.summary-sticky {
  top: 5vh;
  position: sticky;
}

.sub-scroll {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}

.subsummary-overflow {
  overflow-wrap: anywhere;
}

.loading-center {
  display: flex;
  justify-content: center;
}

.subsummary-height {
  max-height: 80vh;
}

.scroll-align {
  align-items: flex-start;
}

.scroll-sticky {
  position: sticky;
  bottom: 0;
  align-self: flex-end;
}

.comment-height {
  max-height: 20%;
  overflow-y: auto;
  overflow-x: auto;
}

.comment-action-float {
  float: right;
}